<?xml version="1.0" encoding="UTF-8"?>
<widget id="A6054987224696">
	<name>承运社</name>
	<content src="./register.html"/>
	<preference name="windowBackground" value="#fff"/>
	<preference name="autoUpdate" value="true"/>
	<preference name="softInputMode" value="resize"/>
	 <meta-data
     name="com.baidu.lbsapi.API_KEY"
     value="DF3sGW3FC7qhDtg6miAAbHG0TTBsk6bD" />
	<preference name="backgroundMode" value="location"/>
<feature name="baiduLocation">
    <param name="apiKey" value="DF3sGW3FC7qhDtg6miAAbHG0TTBsk6bD"/>
</feature>
</widget>
